﻿<!DOCTYPE html>
<html>
<head>
    <script src="hand.minified-1.3.8.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="ping.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="arena">
        <div id="score">
            <h1>
                <span id="playerScore">0</span>
                -
                <span id="opponentScore">0</span>
            </h1>
        </div>
        <div id="player" class="sprite"></div>
        <div id="opponent" class="sprite"></div>
        <div id="ball" class="sprite"></div>
        <div id="controls-left">
            <div id="up" class="sprite control"></div>
            <div id="down" class="sprite control"></div>
        </div>
        <div id="controls-right">
            <div id="left" class="sprite control"></div>
            <div id="right" class="sprite control"></div>
        </div>
    </div>
</body>
</html>

